<div class="main-container">
  <div class ="main-heading">
      <h2> PickPack </h2>
  </div>

  <div class="to-pack-container">
      <h2>Orders to Pack</h2>
    <div class="to-pack-order">
      <% @orders.each do |order| %>
        <h2>Order #<%= order.number %></h2>
          <% if order.line_items == nil %>
            <h2> there are no items </h2>
          <% else %>
          <div class="to-pack-item">
              <% order.line_items.each do |item| %>
                <p><%= item[:sellable][:product_title] %></p>
                <p><%= item[:sellable][:measurement_attributes][:height] %></p>
                <p><%= item[:sellable][:measurement_attributes][:width] %></p>
                <p><%= item[:sellable][:measurement_attributes][:depth] %></p>
                <p><%= item[:quantity] %>
            <% end %>
            <a class="tick-btn" href="#">✓</a>
          </div>
        <% end %>
      <% end %>
    </div>
    <button id="click">Hello</button>
  </div>
</div>





  <script type="text/javascript">
    let dataStuff = <%= @order %>
    console.log(dataStuff)
    const url = "https://eu.api.3dbinpacking.com/packer/packIntoMany"
    const data = {
   "bins": [
      {
         "w": 5,
         "h": 5,
         "d": 5,
         "max_wg": 0,
         "id": "Bin1"
      },
      {
         "w": 3,
         "h": 3,
         "d": 3,
         "max_wg": 100,
         "id": "Bin2"
      }
   ],
   "items": [
      {
         "w": 5,
         "h": 3,
         "d": 2,
         "q": 2,
         "vr": 1,
         "wg": 0,
         "id": "Item1"
      },
      {
         "w": 3,
         "h": 3,
         "d": 3,
         "q": 3,
         "vr": 1,
         "wg": 0,
         "id": "Item2"
      }
   ],
   "username": "siddav83",
   "api_key": "5143a7077262537352928774f56240d4",
}

    const sendBoxParams = () => {
      fetch(url, {
        method: "POST",
        body: JSON.stringify(data),
      })
        .then(response => response.json())
        .then((data) => {
          console.log(data);
    })};
        const click = document.getElementById("click");
        click.addEventListener('click', sendBoxParams())

  </script>

<!-- <script>
fetch("/notifications.json")
  .then(response => response.json())
    .then(data => {
      let counter = 0
      data.forEach(notification => {
      const element = `<a class="dropdown-item" data-remote="true" rel="nofollow" data-method="post" href="/notifications/${notification.id}/mark_as_read">${notification.actor} ${notification.action}<i class="fas fa-times-circle"></i></a>`
      document.getElementById("navbar-dropdown-text").insertAdjacentHTML("beforeend", element)
      counter += 1
      })
      const counterHTML =  `<h3>${counter}</h3>`
      document.getElementById("dropdown-heading").insertAdjacentHTML("beforeend", counterHTML)
    })
</script> -->
